.header_main {
    width: auto;
    height: 50px;
    background-color: var(--main-blue);
}

.title_header {
    font: var(--main-font);
    color: var(--color-white);
    padding-left: 100px;
    padding-top: 10px;
    font-weight: bolder;
    font-size: 25px;
    display: flex;
    align-items: center;
}

.board-app {
    margin: 0;
    background-color: var(--main-bg);

}