.new-task__wrapper {
    width: 330px;
    background-color: var(--color-white);
    border-radius: 15px;
    padding: 20px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    color: var(--text-main-color);
}

.form {
    margin-top: 15px;
}

.input {
    font-size: var(--font-size-15);
    padding: 5px 10px;
    cursor: pointer;
    outline: none;
    border: none;
    border: solid 1px var(--light-gray);
    border-radius: 4px;
}

.button {
    font-size: var(--font-size-15);
    padding: 5px 25px;
    background-color: var(--btn-active-color);
    color: var(--color-white);
    border-color: var(--btn-active-color);
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
}