.new-task_main {
    width: 330px;
    background-color: var(--color-white);
    margin-left: 100px;
    margin-top: 50px;
    border-radius: 15px;
    padding: 20px;
}

.title-new-task {
    font-size: 20px;
    font-weight: bold;
    color: var(--text-main-color);
}

.new-task-form {
    margin-top: 15px;
}

.new-task-input {
    font-size: 15px;
    padding: 5px 10px;
    cursor: pointer;
    outline: none;
    border: none;
    border: solid 1px var(--light-gray);
    border-radius: 4px;
}

.new-task-button {
    font-size: 15px;
    padding: 5px 25px;
    background-color: var(--btn-active-color);
    color: var(--color-white);
    border-color: var(--btn-active-color);
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
}